torch--index-url https://download.pytorch.org/whl/cpu
torch-scatter -f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch-geometric
rdkit
gradio
networkx
matplotlib
scikit-learn